.account{
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
}

.top{
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.header{
  font-size: 1.5rem;
  font-weight: 500;
  // text-align: left;
}

.content{
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  // box-sizing: border-box;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: hidden;
  padding: 3rem 1rem;
}

.user{
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
}
.avatar{
  border-radius: 50%;
  padding: 1rem;
  margin: 2rem;
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.05);
}
.userDetails{
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .userBox{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    // width: 100%;
    // margin: 1rem 0;
    // padding: 1rem;
    border-radius: 10px;
    // background-color: rgba(0, 0, 0, 0.05);
    // box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.05);
  
  }
  .password{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    // width: 100%;
    margin: 1rem;
    height: 100%;
    padding: 1rem;
    border-radius: 10px;
    // background-color: rgba(0, 0, 0, 0.05);
    // box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.05);
  
  
  }
}
.button{
  margin: 0 1rem 1rem 0 !important;
  background-color: #adb5bd !important;
  min-width: 100px;
}
.card{
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;

  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.05);
}

.editUser{
  margin: 1rem;
  font-size: 2rem;
  font-weight: 500;
}

.editBilling{
  margin: 1rem;
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
}

.billing{
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  // width: 40%;
  flex: 0.4;
  margin: 10px 0;
  padding-right: 3rem;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  // margin: 2rem;
  // padding: 1rem;
  // border-radius: 10px;
  // background-color: rgba(0, 0, 0, 0.05);
  // box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.05);
  .billingBox{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    // margin: 1rem 0;
    // padding: 1rem;
    border-radius: 10px;
    // background-color: rgba(0, 0, 0, 0.05);
    // box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.05);
  }

  .cardDetails{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin: 0 1rem;
    font-size: 1rem;
    font-weight: 500;
    // padding: 1rem;
    border-radius: 10px;
    .detail{
      color: rgba(0, 0, 0, 0.5)
    };
  }
}

.bottom{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.paymentHistory{
  display: flex;
  flex-flow: column nowrap;
  padding-left: 2rem;
  text-align: left;
  // width: 60%;
  flex: 0.6;


  .editPayment{
    margin: 1rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: left;
  }
  
}

.historyBox{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin-bottom: 1rem;
}
.detail{
  color: rgba(0, 0, 0, 0.5)
};
.history{
  display: flex;
  // margin-right: 1rem;
  justify-content: space-between;
  width: 100%;
  flex-flow: column nowrap;
  margin: 0 1rem;
}